---

---

<div>
              <h2
            class="max-w-[250px] text-2xl sm:text-3xl font-bold text-gray-900 mb-8 sm:mb-10 border-l-4 border-[#F28E46] pl-4 font-inter-tight"
          >
            Bizga ishongan hamkorlarimiz
          </h2>
</div>