<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Yoshlar Venture</title>
    <link rel="stylesheet" href="./Main.css" />
  </head>

  <body>
    <div class="flex justify-center mt-[50px] sm:mt-[65px] mb-[55px] sm:mb-20">
      <div class="flex flex-col items-center w-[398px] sm:w-[628px]">
        <div class="flex items-center justify-center gap-2 sm:gap-6">
          <button
            class="w-12 h-12 bg-[#F28E46] text-white rounded-[28px] cursor-pointer"
          >
            1
          </button>
          <hr class="w-6 sm:w-[53px] text-[#1B1A1959]" />
          <button
            class="w-12 h-12 rounded-[28px] bg-[#F28E46] text-white cursor-pointer"
          >
            2
          </button>
          <hr class="w-6 sm:w-[53px] text-[#1B1A1959]" />
          <button
            class="w-12 h-12 rounded-[28px] bg-[#F28E46] text-white cursor-pointer"
          >
            3
          </button>
          <hr class="w-6 sm:w-[53px] text-[#1B1A1959]" />
          <div class="flex items-center gap-2 sm:gap-4">
            <button
              class="w-12 h-12 rounded-[28px] bg-[#F28E46] text-white cursor-pointer"
            >
              4
            </button>
            <hr class="w-6 sm:w-[53px] text-[#1B1A1959]" />
            <button
              class="w-12 h-12 rounded-[28px] bg-[#F28E46] text-white cursor-pointer"
            >
              5
            </button>
          </div>
        </div>

        <div class="flex flex-col w-full gap-6 mt-12 mb-8 sm:mb-23">
          <p class="text-xl font-semibold">
            Pitch, Investitsiya So‘rovi va Mablag‘lardan Foydalanish
          </p>
          <div class="flex flex-col gap-1.5 w-full">
            <p class="text-[12px] font-medium">
              Qancha investitsiya so‘rayapsiz?
            </p>
            <input
              type="text"
              class="bg-[#F8F8F7] rounded-[12px] h-[50px] w-full p-4 outline-none"
            />
          </div>
          <div class="flex flex-col gap-1.5 mt-6 font-medium w-full">
            <p class="text-[12px] font-medium">Iltimos ko’rsating</p>
            <textarea
              class="bg-[#F8F8F7] rounded-xl h-[110px] p-4 w-[398px] sm:w-[628px] font-medium outline-none"
            ></textarea>
          </div>
          <p class="font-semibold">
            Ushbu arizani yuborish investitsiya kafolatlamaydi. Yoshlar Ventures
            barcha taqdim etilgan ma’lumotlarni maxfiylik bilan muomala qiladi
            va tanlangan arizachilar bilan keyingi tekshiruv yoki suhbat uchun
            bog‘lanadi.
          </p>
        </div>

        <button
          class="bg-[#F28E46] text-[#fff] h-[50px] w-full rounded-xl cursor-pointer"
        >
          <a href="/src/pages/Modal.astro"> Davom etish</a>
        </button>
      </div>
    </div>
  </body>
</html>
