---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="Yoshlar Venture">
  <div class="flex justify-center mt-[50px] sm:mt-[65px] mb-[55px] sm:mb-20">
    <div class="flex flex-col items-start w-[398px] sm:w-[628px]">
      <div class="flex items-center justify-center gap-2 sm:gap-6">
        <button
          class="w-12 h-12 bg-[#F28E46] text-[#fff] rounded-[28px] cursor-pointer"
          >1</button
        >
        <hr class="w-6 sm:w-[53px] text-[#1B1A1959] dark:text-[#E3E3E3]" />
        <button
          class="w-12 h-12 bg-[#F28E46] text-[#fff] rounded-[28px] cursor-pointer"
          >2</button
        >
        <hr class="w-6 sm:w-[53px] text-[#1B1A1959] dark:text-[#E3E3E3]" />
        <button
          class="w-12 h-12 rounded-[28px] border dark:border-[#535862] border-[#EFF0F3] bg-[#F8F8F8] dark:bg-[#111111] dark:text-[#FFFFFF] cursor-pointer"
          >3</button
        >
        <hr class="w-6 sm:w-[53px] text-[#1B1A1959] dark:text-[#E3E3E3]" />
        <div class="flex items-center gap-2 sm:gap-4">
          <button
            class="w-12 h-12 rounded-[28px] border dark:border-[#535862] border-[#EFF0F3] bg-[#F8F8F8] dark:bg-[#111111] dark:text-[#FFFFFF] cursor-pointer"
            >4</button
          >
          <hr class="w-6 sm:w-[53px] text-[#1B1A1959] dark:text-[#E3E3E3]" />
          <button
            class="w-12 h-12 rounded-[28px] border-red-500 dark:border-[#535862] bg-[#F8F8F8] dark:bg-[#111111] dark:text-[#FFFFFF] cursor-pointer"
            >5</button
          >
        </div>
      </div>

      <div class="mt-12 mb-[262px] text-black dark:text-[#FFFFFF]">
        <p class="font-semibold text-[20px]">
          Startupingiz xozr qaysi bosqichda?
        </p>

        <div class="flex flex-col gap-4 mt-8">
          <div class="flex gap-4">
            <button
              class="text-white dark:text-black w-8 h-8 rounded-[8px] border border-[#F28E46] transition duration-300 active:bg-[#F28E46] dark:active:text-[#FFFFFF] cursor-pointer"
            >
              &#10003;
            </button>
            <p>G’oya ( Idea )</p>
          </div>

          <div class="flex gap-4">
            <button
              class="text-white dark:text-black w-8 h-8 rounded-[8px] border border-[#F28E46] transition duration-300 active:bg-[#F28E46] dark:active:text-[#FFFFFF] cursor-pointer"
            >
              &#10003;
            </button>
            <p>MVP ishlab chiqilmoqda</p>
          </div>

          <div class="flex gap-4">
            <button
              class="text-white dark:text-black w-8 h-8 rounded-[8px] border border-[#F28E46] transition duration-300 active:bg-[#F28E46] dark:active:text-[#FFFFFF] cursor-pointer"
            >
              &#10003;
            </button>
            <p>Post MVP ( MVP ishlab chiqilgan )</p>
          </div>
        </div>
      </div>

      <a href="/ProgramInfo" class="w-full">
        <Button />
      </a>
    </div>
  </div>
</Layout>
