---
import Layout from "../layouts/Layout.astro";
import StepFlowWithSubSteps from "../components/StepFlowWithSubSteps.jsx";
---

<Layout title="Step Flow Demo">
    <main>
        <StepFlowWithSubSteps client:load />
    </main>
</Layout>

