---
import Lamp from '../../assets/images/Lamp.svg';
---
  <section id="promo" class="mx-auto bg-white py-12 sm:py-16 mb-16">
        <div class="container mx-auto px-4">
          <div
            class="bg-gradient-to-br from-brand-orange-start to-brand-orange-end rounded-3xl p-6 sm:p-8 lg:p-10 overflow-hidden"
            style="
              background-image: url('/public/BgImg.png');
              background-size: 100% 100%;
              background-position: top center;
              background-repeat: repeat-y;
              background-color: #f28e46;
            "
          >
            <!-- Quote text -->
            <div
              class="max-w-2xl border-l-4 border-white pl-4 sm:pl-6 mb-8 sm:mb-10"
            >
              <p
                class="text-white text-xl sm:text-2xl lg:text-3xl xl:text-4xl font-semibold leading-tight font-inter-tight"
              >
                "Hali tayyor emasman" deb o'tirganingizda boshqalar g'oyasi
                uchun investitsiya olyapti. Imkoniyatdan foydalaning!
              </p>
            </div>
            <!-- CTA Button -->
            <button
              class="bg-white text-[#EA601E] font-semibold rounded-[16px] px-6 py-3 flex items-center space-x-3 shadow-lg hover:opacity-90 transition font-inter-tight"
            >
              <span>Ariza yuborish</span>
              <img
                src={Lamp.src}
                alt="lightbulb icon"
                class="w-8 h-8 lg:w-10 lg:h-10"
              />
            </button>
          </div>
        </div>
      </section>
