      <section id="mission" class="bg-white py-12 sm:py-16 mb-16">
        <div class="flex flex-col max-w-3xl">
          <h2
            class=" max-w-[650px] text-2xl sm:text-3xl lg:text-4xl font-bold text-gray-900 mb-6 border-l-4 border-[#F28E46] pl-4 font-inter-tight"
          >
            Biz <span class="text-[#F28E46]">yoshlarga ishonamiz</span>
            Chunki g'oya har doim kichik bir ishonchdan boshlanadi
          </h2>
          <p class="text-gray-700 leading-relaxed text-lg font-inter-tight">
            Yoshlar Ventures — bu g'oyasi bor, lekin tayyor mahsuloti hali yo'q
            bo'lgan yoshlar uchun ochilgan fond. Biz sizni eshitamiz, qo'llaymiz
            va hukumat hamda investorlar hamda soha mutaxassislarini siz bilan
            bog'laymiz.
          </p>
        </div>
      </section>