---
import TelegramDark from '../../assets/images/telegramDark.svg';
import InstagramDark from '../../assets/images/instagramDark.svg'; 
import YouTubeDark from '../../assets/images/youtubeDark.svg';

---  
  <section id="mission" class="bg-white py-12 sm:py-16 mb-16 ">
        <div class="flex flex-col max-w-3xl">
          <!-- Heading -->
          <h2
            class=" max-w-[600px] text-2xl sm:text-3xl lg:text-4xl font-bold text-gray-900 mb-6 border-l-4 border-[#F28E46] pl-4 font-inter-tight"
          >
            Startaplaringizga birinchi ishonadigan — bizmiz.
          </h2>
          <!-- Supporting paragraph -->
          <h3
            class="max-w-[350px] leading-relaxed pt-8 sm:pt-[40px] text-lg sm:text-xl font-inter-tight "
          >
            Har bir katta g'oya — kichik ishonchdan boshlanadi
          </h3>
        </div>

        <!-- Video embed -->
        <div
          class="flex-1 w-full flex justify-center pt-12 sm:pt-16 lg:pt-[80px]"
        >
          <iframe
            class="w-full h-[250px] sm:h-[350px] lg:h-[415px] rounded-3xl shadow-lg"
            src="https://www.youtube.com/embed/rBUtohoovP4?si=b_m1lYgvSphT348S"
            title="Intro Video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>

        <!-- Social Icons -->
        <div class="mt-6 flex justify-start space-x-4">
          <a href="#" aria-label="Telegram" class="hover:opacity-75">
            <img
              src={ TelegramDark.src }
              alt="Telegram"
              class="w-8 h-8"
            />
          </a>
          <a href="#" aria-label="Instagram" class="hover:opacity-75">
            <img
              src={ InstagramDark.src }
              alt="Instagram"
              class="w-8 h-8"
            />
          </a>
          <a href="#" aria-label="YouTube" class="hover:opacity-75">
            <img
              src={ YouTubeDark.src }
              alt="YouTube"
              class="w-8 h-8"
            />
          </a>
        </div>
      </section>