<div class="flex flex-col items-start w-[398px] sm:w-[628px]">
  <div class="text-black dark:text-white">
    <p class="font-semibold text-xl mb-8 mt-12">
      Startapning Hozirgi Bosqichiga Aloqador Ma'lumotlar
    </p>

    <div class="flex flex-col gap-4 mb-6">
      <p class="font-medium">
        Akseleratsiya yoki inkubatsiya dasturida qatnashganmisiz?
      </p>
      <div class="flex gap-1">
        <button
          class="w-[50px] h-[50px] rounded-full bg-[#F28E46] text-white text-[12px]"
          >Ha</button
        >
        <button
          class="border dark:border-[#535862] text-[12px] w-[50px] h-[50px] rounded-full text-[#535862] dark:text-white"
          >Yo'q</button
        >
      </div>
    </div>

    <div class="flex flex-col w-full gap-6">
      <div class="flex flex-col gap-1.5">
        <p class="text-[12px] font-medium">Dastur nomi</p>
        <input
          type="text"
          class="bg-[#F8F8F7] dark:bg-inherit dark:border dark:border-[#535862] dark:text-white rounded-[12px] h-[50px] w-full p-4 outline-none"
        />
      </div>
      <div class="flex flex-col gap-1.5">
        <p class="text-[12px] font-medium">Yili</p>
        <input
          type="date"
          class="bg-[#F8F8F7] dark:bg-inherit dark:border dark:border-[#535862] dark:text-white rounded-[12px] h-[50px] w-[314px] p-4 outline-none"
        />
      </div>
    </div>

    <div class="flex flex-col gap-4 mt-6">
      <p class="font-medium">Muvofaqqiyatli bitirganmidingiz?</p>
      <div class="flex gap-1">
        <button
          class="w-[50px] h-[50px] rounded-full bg-[#F28E46] text-white text-[12px]"
          >Ha</button
        >
        <button
          class="border dark:border-[#535862] text-[12px] w-[50px] h-[50px] rounded-full text-[#535862] dark:text-white"
          >Yo'q</button
        >
      </div>
    </div>

    <div class="flex flex-col gap-4 mt-6 mb-12">
      <p class="font-medium">Startap tanlovlarida qatnashganmisiz?</p>
      <div class="flex gap-1">
        <button
          class="w-[50px] h-[50px] rounded-full bg-[#F28E46] text-white text-[12px]"
          >Ha</button
        >
        <button
          class="border dark:border-[#535862] text-[12px] w-[50px] h-[50px] rounded-full text-[#535862] dark:text-white"
          >Yo'q</button
        >
      </div>
    </div>

    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-1.5">
        <p class="text-[12px] font-medium">Tanlov nomi</p>
        <input
          type="text"
          class="bg-[#F8F8F7] dark:bg-inherit dark:border dark:border-[#535862] dark:text-white rounded-[12px] h-[50px] w-full p-4 outline-none"
        />
      </div>
      <div class="flex flex-col gap-1.5">
        <p class="text-[12px] font-medium">Tanlov yili</p>
        <input
          type="date"
          class="bg-[#F8F8F7] dark:bg-inherit dark:border dark:border-[#535862] dark:text-white rounded-[12px] h-[50px] w-[314px] p-4 outline-none"
        />
      </div>
    </div>
    <div class="flex flex-col gap-4 mt-6">
      <p class="font-medium">Yuqori 3 likka kirdingizmi?</p>
      <div class="flex gap-1">
        <button
          class="w-[50px] h-[50px] rounded-full text-[12px] border dark:border-[#535862] text-[#535862] dark:text-white"
          >Ha</button
        >
        <button
          class="w-[50px] h-[50px] rounded-full text-[12px] border dark:border-[#535862] text-[#535862] dark:text-white"
          >Yo'q</button
        >
      </div>
    </div>

    <div class="mt-8">
      <p class="font-semibold text-xl mb-6">Jamoa haqida ma'lumot</p>
      <div class="flex flex-col gap-6 mb-10">
        <div class="flex flex-col gap-1.5">
          <p class="text-[12px] font-medium">Arizachi to‘liq ismi</p>
          <input
            type="text"
            class="bg-[#F8F8F7] dark:bg-inherit dark:border dark:border-[#535862] dark:text-white rounded-[12px] h-[50px] w-full p-4 outline-none"
          />
        </div>
        <div class="flex flex-col gap-1.5">
          <p class="text-[12px] font-medium">Arizachi to‘liq ismi</p>
          <input
            type="text"
            class="bg-[#F8F8F7] dark:bg-inherit dark:border dark:border-[#535862] dark:text-white rounded-[12px] h-[50px] w-full p-4 outline-none"
          />
        </div>

        <div class="grid grid-cols-2 gap-2">
          <div class="flex flex-col gap-1.5 mb-6">
            <p class="text-[12px] font-medium">Yoshi</p>
            <input
              type="text"
              class="bg-[#F8F8F7] dark:bg-inherit dark:border dark:border-[#535862] dark:text-white rounded-[12px] h-[50px] p-4 outline-none"
            />
          </div>
          <div class="flex flex-col gap-1.5">
            <p class="text-[12px] font-medium">Ro’li</p>
            <input
              type="text"
              class="bg-[#F8F8F7] dark:bg-inherit dark:border dark:border-[#535862] dark:text-white rounded-[12px] h-[50px] p-4 outline-none"
            />
          </div>
          <div class="flex flex-col gap-1.5">
            <p class="text-[12px] font-medium">Vazifalar</p>
            <input
              type="text"
              class="bg-[#F8F8F7] dark:bg-inherit dark:border dark:border-[#535862] dark:text-white rounded-[12px] h-[50px] p-4 outline-none"
            />
          </div>
          <div class="flex flex-col gap-1.5">
            <p class="text-[12px] font-medium">Hamta’sischilar soni</p>
            <input
              type="text"
              class="bg-[#F8F8F7] dark:bg-inherit dark:border dark:border-[#535862] dark:text-white rounded-[12px] h-[50px] p-4 outline-none"
            />
          </div>
        </div>

        <p class="font-medium text-[18px] text-[#F28E46]">
          Yana hamta’sislar qo’shish +
        </p>

        <div class="flex flex-col gap-4">
          <p class="font-medium">Hozirda ishchilar bormi?</p>
          <div class="flex gap-1">
            <button
              class="w-[50px] h-[50px] rounded-full bg-[#F28E46] text-white text-[12px]"
              >Ha</button
            >
            <button
              class="border dark:border-[#535862] text-[12px] w-[50px] h-[50px] rounded-full text-[#535862] dark:text-white"
              >Yo'q</button
            >
          </div>
        </div>
        <div class="flex flex-col gap-1.5 mt-4">
          <p class="text-[12px] font-medium">Nechta ishchilar bor</p>
          <input
            type="text"
            class="bg-[#F8F8F7] dark:bg-inherit dark:border dark:border-[#535862] dark:text-white rounded-[12px] h-[50px] w-full p-4 outline-none"
          />
        </div>
      </div>
    </div>
  </div>
</div>
