<div class="flex flex-col items-start w-[398px] sm:w-[628px]">
  <div class="text-black dark:text-white">
    <p class="font-semibold text-xl mb-8 mt-12">
      Startapning Hozirgi Bosqichiga Aloqador Ma'lumotlar
    </p>
    <p class="font-medium">
      Akseleratsiya yoki inkubatsiya dasturida qatnashganmisiz?
    </p>
    <div class="flex gap-1">
      <button
        class="w-[50px] h-[50px] rounded-full text-[12px] border dark:border-[#535862] text-[#535862] dark:text-white"
        >Ha</button
      >
      <button
        class="w-[50px] h-[50px] rounded-full text-[12px] border dark:border-[#535862] text-[#535862] dark:text-white"
        >Yo'q</button
      >
    </div>
  </div>
</div>
