---
import Layout from "../layouts/Layout.astro";
import downloadIcon from "../assets/li_download-cloud.svg";
---

<Layout title="Yoshlar Venture">
  <div class="flex items-center justify-center">
    <div class="w-[398px] sm:w-[770px] border mt-10 rounded-3xl sm:p-10 p-5">
      <div class="flex flex-col gap-4">
        <p class="font-medium text-2xl">
          G’oyangiz biz uchun muhim. Uni yozing biz o’qiymiz
        </p>
        <p class="font-medium text-[#535862]">
          Sizdan 30 sahifali biznes reja kutyapmiz. Shunchaki yozing. Biz
          kontekstini o’qiymiz. O’rganamiz. Va aloqa qilamiz.
        </p>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-6 sm:mt-[38px]">
        <div class="flex flex-col gap-1.5 w-full mb-6">
          <p class="text-[12px] font-medium">Ismingiz</p>
          <input
            type="text"
            class="bg-[#F8F8F7] rounded-[12px] h-[50px] p-4 outline-none"
          />
        </div>
        <div class="flex flex-col gap-1.5 w-full">
          <p class="text-[12px] font-medium">Telegram username yoki email</p>
          <input
            type="text"
            class="bg-[#F8F8F7] rounded-[12px] h-[50px] p-4 outline-none"
          />
        </div>
      </div>

      <div class="flex flex-col gap-1.5 w-full">
        <p class="text-[12px] font-medium">G’oya haqida qisqacha</p>
        <textarea
          class="bg-[#F8F8F7] rounded-xl h-[170px] p-4 w-full font-medium outline-none"
        ></textarea>
      </div>

      <div class="flex flex-col w-full mt-4">
        <p class="text-[12px] text-[#020202] font-medium">
          Havola ( Ixtiyoriy )
        </p>
        <label
          class="cursor-pointer w-[337px] h-[50px] mt-1.5 mb-2 border border-[#F28E46] rounded-xl px-6 py-[17.5px] flex items-center"
        >
          <div class="flex items-center gap-2">
            <p class="text-[12px] text-[#F28E46] font-medium">Yuklash</p>
            <img src={downloadIcon.src} alt="download icon" />
          </div>
          <input type="file" class="hidden" />
        </label>
        <p class="text-[#535862] text-[12px] font-medium">
          Video, Fayl, Pitch deck
        </p>
      </div>

      <button
        class="bg-[#F28E46] text-[#fff] h-[50px] w-full rounded-xl cursor-pointer mt-6"
      >
        <a href="#" class="w-full">Davom etish</a>
      </button>
    </div>
  </div>
</Layout>
