<div
  class="flex flex-col items-start w-[398px] sm:w-[628px] text-black dark:text-white"
>
  <div class="mt-12 mb-[262px]">
    <p class="font-semibold text-[20px] mb-8">
      Startupingiz hozir qaysi bosqichda?
    </p>

    <div class="flex flex-col gap-4">
      <div class="flex gap-4 items-center">
        <button
          class="text-white dark:text-black w-8 h-8 rounded-[8px] border border-[#F28E46] transition duration-300 active:bg-[#F28E46]"
          >&#10003;</button
        >
        <p>G’oya ( Idea )</p>
      </div>
      <div class="flex gap-4 items-center">
        <button
          class="text-white dark:text-black w-8 h-8 rounded-[8px] border border-[#F28E46] transition duration-300 active:bg-[#F28E46]"
          >&#10003;</button
        >
        <p>MVP ishlab chiqilmoqda</p>
      </div>
      <div class="flex gap-4 items-center">
        <button
          class="text-white w-8 h-8 rounded-[8px] border border-[#F28E46] bg-[#F28E46] transition duration-300"
          >&#10003;</button
        >
        <p>Post MVP ( MVP ishlab chiqilgan )</p>
      </div>
    </div>
  </div>
</div>
