<div class="flex flex-col items-start w-[398px] sm:w-[628px]">
  <div class="mt-12 mb-[262px] text-black dark:text-[#FFFFFF]">
    <p class="font-semibold text-[20px]">Startupingiz xozr qaysi bosqichda?</p>

    <div class="flex flex-col gap-4 mt-8">
      <div class="flex gap-4">
        <button
          class="text-white dark:text-black w-8 h-8 rounded-[8px] border border-[#F28E46] transition duration-300 active:bg-[#F28E46] dark:active:text-[#FFFFFF] cursor-pointer"
        >
          &#10003;
        </button>
        <p>G’oya ( Idea )</p>
      </div>

      <div class="flex gap-4">
        <button
          class="text-white dark:text-black w-8 h-8 rounded-[8px] border border-[#F28E46] transition duration-300 active:bg-[#F28E46] dark:active:text-[#FFFFFF] cursor-pointer"
        >
          &#10003;
        </button>
        <p>MVP ishlab chiqilmoqda</p>
      </div>

      <div class="flex gap-4">
        <button
          class="text-white dark:text-black w-8 h-8 rounded-[8px] border border-[#F28E46] transition duration-300 active:bg-[#F28E46] dark:active:text-[#FFFFFF] cursor-pointer"
        >
          &#10003;
        </button>
        <p>Post MVP ( MVP ishlab chiqilgan )</p>
      </div>
    </div>
  </div>
</div>
