<div class="flex items-center justify-center gap-2 sm:gap-6">
  <button
    class="w-12 h-12 bg-[#F28E46] text-[#fff] rounded-[28px] cursor-pointer"
  >
    1
  </button>
  <hr class="w-6 sm:w-[53px] text-[#1B1A1959] dark:text-[#E3E3E3]" />
  <button
    class="w-12 h-12 rounded-[28px] border dark:border-[#535862] border-[#EFF0F3] bg-[#F8F8F8] dark:bg-[#111111] dark:text-[#FFFFFF] cursor-pointer"
  >
    2
  </button>
  <hr class="w-6 sm:w-[53px] text-[#1B1A1959] dark:text-[#E3E3E3]" />
  <button
    class="w-12 h-12 rounded-[28px] border dark:border-[#535862] border-[#EFF0F3] bg-[#F8F8F8] dark:bg-[#111111] dark:text-[#FFFFFF] cursor-pointer"
  >
    3
  </button>
  <hr class="w-6 sm:w-[53px] text-[#1B1A1959] dark:text-[#E3E3E3]" />

  <div class="flex items-center gap-2 sm:gap-4">
    <button
      class="w-12 h-12 rounded-[28px] border dark:border-[#535862] border-[#EFF0F3] bg-[#F8F8F8] dark:bg-[#111111] dark:text-[#FFFFFF] cursor-pointer"
    >
      4
    </button>
    <hr class="w-6 sm:w-[53px] text-[#1B1A1959] dark:text-[#E3E3E3]" />
    <button
      class="w-12 h-12 rounded-[28px] border-red-500 dark:border-[#535862] bg-[#F8F8F8] dark:bg-[#111111] dark:text-[#FFFFFF] cursor-pointer"
    >
      5
    </button>
  </div>
</div>
