<div class="flex gap-1 mt-4 mb-[267px] sm:mb-[304px]">
  <button
    class="border dark:border-[#535862] text-[12px] w-[50px] h-[50px] cursor-pointer rounded-full border-[#535862] text-[#535862] dark:text-[#FFFFFF] active:bg-[#F28E46] active:text-white active:border-[#F28E46] transition duration-300 ease-in-out"
  >
    Ha
  </button>
  <button
    class="border dark:border-[#535862] text-[12px] w-[50px] h-[50px] cursor-pointer rounded-full border-[#535862] text-[#535862] dark:text-[#FFFFFF] active:bg-[#F28E46] active:text-white active:border-[#F28E46] transition duration-300 ease-in-out"
  >
    Yo'q
  </button>
</div>
